body {
background-color: #f7f7f7;
font-family: Arial, sans-serif;
}
.header {
background-color: #7FDBFF;
color: #fff;
padding: 20px;
text-align: center;
}
.nav {
background-color: #001f3f;
color: #fff;
padding: 10px;
text-align: center;
}
.nav ul {
list-style: none;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
}
.nav li {
margin-right: 20px;
}
.nav li:last-child {
margin-right: 0;
}
.nav a {
text-decoration: none;
color: #fff;
}
.skills {
background-color: #fff;
color: #333;
padding: 20px;
margin: 20px;
}
.skills h2 {
margin-top: 0;
}
.skills ul {
list-style: disc;
margin-left: 20px;
}
.experience {
background-color: #f2f2f2;
color: #333;
padding: 20px;
margin: 20px;
}
.experience h2 {
margin-top: 0;
}
.experience h3 {
margin-top: 20px;
}
.experience p:last-child {
margin-bottom: 0;
}
.education {
background-color: #fff;
color: #333;
padding: 20px;
margin: 20px;
}
.education h2 {
margin-top: 0;
}
.education h3 {
margin-top: 20px;
}
.education p:last-child {
margin-bottom: 0;
}
#box1{
    width: 250px;
    height: 250px;
    background: red; 
    font-size: 225px;
    text-align: center;
  
    animation: mySlide;
    animation-play-state: running; 
    animation-iteration-count: infinate;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-duration: 5s;
}

@keyframes mySlide{
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}
